QMainWindow
{
    background-color: /*#343434*/#1B1212;
}

#headerWidget
{
    background-color: gray;/*#2c3e50;   нужный цвет, например, тёмно‑синий */
    border-bottom: 1px solid #1a2533;
}

QLabel#titleLabel
{
    border: 2px solid green;
    border-radius: 10px;
    padding: 2px;
    background-color: #228B22;
    color: white;
    font-size: 14px;
    font-weight: bold;
    /*font-style: italic;
    text-decoration:underline;
    text-decoration:overline;
    text-decoration:line-through;
    text-transform:lowercase;
    text-transform:uppercase;*/
}

Profile
{
    border: 2px solid green;
    border-radius: 15px;
    padding: 6px;
    background-color: #228B22;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

QPushButton
{
    border: 2px solid green;
    border-radius: 15px;
    padding: 2px;
    background-color: #228B22;/*background-color: transparent;*/
    color: white;
    font-size: 14px;
    font-weight: bold;
}


QPushButton:hover
{
    background-color: rgba(255, 0, 0, 0.2);
}

QPushButton#closeWindowButton:hover
{
    background-color: rgba(255, 0, 0, 0.5);
}

