QMainWindow
{
    background-color: #1B1212;
}

#headerWidget
{
    background-color: #ACE1AF;/*#2E8B57*/
    border-bottom: 1px solid #1a2533;
}

QPushButton
{
    border: 2px solid #228B22;
    border-radius: 20px;
    padding: 2px;
    background-color: #228B22;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

QPushButton:hover
{
    background-color: rgba(255, 0, 0, 0.2);
}

QPushButton#closeWindowButton:hover
{
    background-color: rgba(255, 0, 0, 0.5);
}

